body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

header {
    background-color: #3498db;
    padding: 10px;
    color: #fff;
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    background-color: #2ecc71;
    padding: 10px;
    color: #fff;
    text-align: center;
}
